/* General */

body{
	background-color: #DCDCDC;
	font-family: Helvetica, sans-serif;
}

h1 {
	text-align: center;
}

h2{
	text-align: center;
}

h3{
	text-align: center;
	width: 60%;
	padding-left: 20%;
	padding-top: 30px;
}

label{
	margin-top: 2px;
	font-size: 10px;
	text-align: right;
}



/* Divs */

.centeredDiv {
	text-align: center;
}

#voterDataInner{
	text-align:left;
	display: inline-block
}

.voterDataItem{
	padding: 10px;
	font-size: 12px;
}

.buttonDiv{
	display: inline-flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	max-width: 100%;
	padding-left: 20%;
	padding-right: 20%;
}

.dataFormOuter{
	text-align: center;
	padding-left: 7%;
}

.dataFormInner{
	display: inline-block;
	text-align: left;
	width:90%;
}



/* Input */

input[type=button], input[type=submit]{
	background-color: #A9A9A9;
	padding: 2px 8px;
	margin: 2px 10px;
	border: 2px solid grey;
	color: white;
	cursor: pointer;
}

.flexMember{
	padding-left: 10px;
	padding-right: 10px;
	flex-grow: 1;
}

.firstColInput {
	position: relative;
	float: left;
	margin-left: 10px;
	width: 200px;
	border: 2px solid grey
}

.secondColInput {
	float: left;
	margin-left: 10px;
	width: 100px;
	border: 2px solid grey
}

.formButton {
	position: relative;
	float: left;
}



/* Label */

.firstColLabel{
	float:left;
	width:30%;
}

.secondColLabel{
	float: left;
	width: 70px;
	text-align: right;
}

.secondColLabelVariable{
	float: left;
	text-align: right;
	margin-left: 10px;
}










